@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");

*,
body {
  font-family: "Inter", sans-serif;
}

nav a {
  position: relative;
}

.dark nav a.active {
  color: #2dd4bf;
}

nav a.active {
  color: #115e59;
}

.dark nav a.active::after {
  background: #2dd4bf;
}

nav a.active::after {
  position: absolute;
  bottom: -5px;
  left: 50%;
  transform: translateX(-50%);
  content: "";
  width: 50%;
  height: 2px;
  background: #115e59;
}
